extends layout

block content
	.row
		.span4
		.span7
			a(href='/')
				img(src='/img/smogs_layers/cloud_9.png' width='200')
			br
			br
			br
			.article(style='font-size:18px;') 
				p SMOG was conceived in a double dream. 
				br
				p SMOG is a digital zine in the form of a multi-tabbed browser window; a collection of parts that make a piecey whole. Each issue inspects a ubiquitous topic, but does so by embracing tangents, misunderstandings, analogies and sideways modes of research. SMOG reconfigures.  
				br
				p
					b WE ARE ACCEPTING PROPOSALS FOR <a href='http://s-m-o-g.net.s3-website-us-west-2.amazonaws.com/CallforCornyProposals.pdf'>ISSUE 2!</a>
				br
				p SMOG is released three times a year.
				br
				p SMOG is edited by <a href='http://www.benkauffman.com'>Ben Kauffman</a> and <a href='http://www.sarahrothberg.com'>Sarah Rothberg.</a>
				p
				br
				br
				form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
					input(type="hidden" name="cmd" value="_s-xclick")
					input(type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBitqicQTEgUUa5e0TZ35OWBsuxmAnxAMchnBNh/Iv8Q5JtS0x39kYZZAGw/Wsk91zp3WlC7wKSCeges1P9IBZMFWYoT2jd2aWn0/CP32FZx2Qb+YbpZEAslyT0vMC07HRdOoV1abwKiX/P5aPwxYhs5jDa1UxmzbvGhxK5ZTa57TELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIuuSC+sDER2WAgYjVJOQqXi0Xhd2rtI6DDfUIrOCOnZClHgdm4FTk42z7Rnkh20MwEkqBoec93FLmSHj+Q3VGZ1mPY6js/YrU096HdjHpLBjK7ekQpOGTY0fDOILGsx0omKwzUHerDJbA83pFJH5b5mDWKUzboEJ070JB/WoEfQ+LlwxOgEY+S+v808yrummWbw0voIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTQwNjE5MDEyNzIxWjAjBgkqhkiG9w0BCQQxFgQU3CBDh1UkacN3Ia7XYEN+bUBJtLMwDQYJKoZIhvcNAQEBBQAEgYAh26hRZbmUKLCjMmZogogtRRHLowNZsGKW+XH054ftLqlok11Rt9fMUUnt1L8mlh6wYWBCnGlbbGFatJVwtnZ4UIeaRMt6fANIoLquXpEFrGZmZQcEWZB+TZ8VHk5q3/IxHwvh/CTzmjeqH+jZXaCuMsK6ASRznzXGr4emR4P1nA==-----END PKCS7-----")
					input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
					img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")
		.span2
	.row
		.span4
						
		.article
			.span7