extends layout

block content

	.row
		.span4
		.span7
			.article
				h3 Heritage of Splendor, Down the Gasoline Trail
				h4 Andrea B. Scott
				h6 •
				p(style='text-align:center;') A journey back in time to explore the origins of American smog, as narrated by this nation's most successful B-actor.
				br
				
				br
	.row
				iframe(src="//player.vimeo.com/video/89543583?title=0&amp;byline=0&amp;portrait=0" width="800" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
				br
				br
				p All material sourced from <a href="https://archive.org/">archive.org</a> and the <a href="https://archive.org/details/prelinger">Prelinger Archives</a>.
