extends layout

block content

	.row
		.span4
		.article
				h3 Heritage of Splendor, Down the Gasoline Trail
				h4 Andrea Scott
				h6 •
				iframe(src="//player.vimeo.com/video/89543583?title=0&amp;byline=0&amp;portrait=0" width="800" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
				});
				h6 •
		
