extends layout

block content
	.row
		.span4

		.header
			.span7
			img(src='/img/adam/Molecular.cloud.arp.750pix.jpg')
			p Hubble Heritage Team (STScI/AURA), N. Walborn (STScI) & R. Barbß (La Plata Obs.), NASA.

		.span2

	.row
		.span4
						
		.article
			.span7
				h3 Smog in the Universe
				h4 Adam Mann
				h6 •
				br				
				p Smog exists in every corner of the universe. It floats between planets, stars, and galaxies, creating diffuse bridges of gas and dust that span the gaps of otherwise empty space.Cosmic smog is made of tiny grains of dust, usually a few molecules wide though in some cases as large as a bacterium. Often, these grains stick together like cosmic dust bunnies that scientists categorize based on how porous they are, ranging on a scale from compact to fluffy. The smallest of these dust grains are molecules known as polycyclic aromatic hydrocarbons (PAHs), which are composed of several carbon rings stuck together, looking somewhat like the Olympics symbol.
				br  
				p Here on Earth, PAHs are pollutants, emitted from the tailpipes of cars and the smokestacks of factories. When combined with water vapor, they form smog. Out in the universe, PAHs form via simple chemical processes. Some were created during the end of the Big Bang, when the universe had cooled enough to allow their formation. Others originated in the death throes of stars, exploded outward by the force of supernovas. But there are other ways to make cosmic smog. Sometimes dust crashes into dust, spontaneously generating new arrangements between atoms. Or, heated by the light of nearby stars, PAHs can bubble into ever more complex chemistry.
				br  
				p Cosmic smog is annoying. 
				br  
				p Just as earthy smog troubles humans on our planet, cosmic smog has polluted astronomer’s view ever since they first started using telescopes. The smoggy bits float through space, hovering around like dust grains in a sunbeam. Starlight filters through cosmic smog and, over vast distances, some of the light is blocked. Astronomers call this “extinction.”
				br  
				p For a long time, scientists didn’t know cosmic smog was there. In 1930, an astronomer named Robert Trumpler made a famous observation. He noticed that the farther away a star was from Earth, the fainter and redder it was. Either the stars had magically arranged themselves by brightness and color as they got more distant from us, or something else was to blame. Trumpler realized that the responsibility lay in cosmic smog. The invisible grains of dust were blocking the starlight, diminishing it. And as the light filtered through the dust, it also reddened, similar to the way sunlight becomes redder on clouds at sunset.
				br  
				p Cosmic smog is beautiful. 
				br  
				p If you’ve ever seen those pictures from Hubble or some other space telescope, you’ve been looking at smog. Cosmic dust scatters the visible wavelengths of light that humans see in. The scattering can highlight a particular wavelength, creating clouds of red or blue. When it the smog is very dense, it can completely block out distant starlight, forming dark areas like the Horsehead Nebula.
				br  
				p Cosmic dust can help astronomers illuminate strange phenomena in the universe. At the center of our Milky Way galaxy is a supermassive black hole. Contrary to popular perception, black holes don’t simply suck in everything around them. You actually need to be quite close before you fall in. Ten years ago, scientists noticed that an enormous cloud of dust named G2 was on its way toward the central black hole. It is expected crash into it sometime this month. When it does, the dust will spiral around like water rushing down a drain, creating friction that heats it up and generates radiation that we can see from Earth. Astronomers are paying close attention to this black hole snacking session to see what they can learn. 
				br  
				p Cosmic smog is us. 
				br  
				p The universe collects dust and the dust collects into clouds. Gravity makes clouds attractive to other clouds. They get together, growing thicker and heavier. At their center, the clouds collapse into enormous balls that heat up, igniting into stars. The remaining dust coalesces into rings and then rocks and eventually planets. Our world was once smog. 
				br  
				p Those PAHs I mentioned earlier are organic. Out in the universe, astronomers have spotted chemicals like alcohol and sugar – things that are created here by life on Earth. Some PAHs very closely resemble the components of DNA and proteins. They say life originated in a warm soupy pond on Earth. But what if it didn’t? Idle speculation might suggest that we are beings from space, created out of misty clouds that were once home to the building blocks of life.
		.span5
