extends layout

block content

	.row
		.span4
		.span7
			a(href='/')
				img(src='/img/smogs_layers/cloud_4.png' width='200')
			br
			br
			br
			.article(style='font-size:18px;') 
				p Please send any inquiries or comments to: <b>smog.is.an.issue@gmail.com</b>
				br
				p If you are interested in creating work for SMOG, contact us to find out the theme of the next issue. We’re especially interested in work that takes advantage of the affordances of the form.