extends layout

block content
  a(href="#", target="_blank") Click here to read current issue

  script(type="text/javascript").
    $(document).ready(function() {
      $('a').on('click', function(e) {
        e.preventDefault();

        //$(this).attr('href')
        var smogwindow = window.open('/smogIssue', '_blank', "height=" + window.innerHeight + ",width=" + window.innerWidth + ",alwaysRaised=yes");
        smogwindow.focus();

      });
    });