extends layout

block content
	div(id = "jays_title")
		h3 Swami Swams
		h4 Jay Zehngebot
		h6 •
	div(id="visuals")
		iframe(width="830" height="467" src="http://www.youtube.com/embed/ZXjJqqfSABw?rel=0" frameborder="0" allowfullscreen)
		img(src="/img/jay_z/smog-jz.png")