extends layout

block content
	div(id="Jay")
		div(id = "Title")
			br
			br
			br
			br
			br
			br
			br
			br
			h3 Swami Swams
			h4 Jay Zehngebot
			h6 •
		div(id="Movie")
			iframe(width="830" height="467" src="http://www.youtube.com/embed/ZXjJqqfSABw?rel=0" frameborder="0" allowfullscreen)
		div(id="Comic")
			img(src="/img/jay_z/smog-jz.png")