extends layout

block content

	.row
		.span4
		.span7
			.article
				h3 Stay Indoors
				h4 Kelsa Trom	
				h6 •
				p(style='max-width:540px; text-align:center;') "Stay Indoors," the safety alert we hear on smoggy days, always struck me as a strange order. On the one hand, it never feels plausible that the air outside could be very different from the air inside - or that air could be controlled at all. Even stronger is the physical perplexity of breathing, of not being able to do anything but breathe, within and despite dangerous conditions. This series identifies indoor enclosures that, by their appearance and function, promise the clean state of controlled air, imagined or not. Within these spaces, the mechanisms of tidiness and control break down through materials in the air; in this case, sounds. 
				br
				p(id='caption',style='text-align:center;') (hover for sounds)
				br
	.span1
	.span12
		- for (var x = 1; x < 17; x++)
			.span11.kelsa
					audio(id='indoors_audio')
						source(src='/img/Kelsa_Trom/'+x+'.mp3', type="audio/mp3")
					img(src='/img/Kelsa_Trom/'+x+'.gif')


	script.
		$(document).ready(function(){
			$(".span11").each(function(index, el){ 
				var audioEl = $(el).find("audio");
				if (audioEl.length > 0){
					$(el).hover(function(){
						audioEl[0].play();
					},
					function(){
						audioEl[0].pause();
					});
				}
			});
		});

