extends layout

block content

	.row
		.span6
		.article
		h3 Stay Indoors
		h4 Kelsa Trom	
		h6 •
		- for (var x = 1; x < 17; x++)
			.span7.kelsa
					audio(id='indoors_audio')
						source(src='/img/Kelsa_Trom/'+x+'.wav', type="audio/wav")
					img(src='/img/Kelsa_Trom/'+x+'.gif')

	script.
			$(document).ready(function(){
				$(".span6").each(function(index, el){ 
					var audioEl = $(el).find("audio");
					if (audioEl.length > 0){
						$(el).hover(function(){
							audioEl[0].play();
						},
						function(){
							audioEl[0].pause();
						});
					}
				});
			});

