extends layout

block content

	.row
		.span6
		.article
		h3 Stay Indoors
		h4 Kelsa Trom	
		h6 •
		<br> "Stay Indoors," the safety alert we hear on smoggy days, always struck me as a strange order. 
		<br> On the one hand, it never feels plausible that the air outside could be very different from the 
		<br> air inside - or that air could be controlled at all. Even stronger is the physical perplexity 
		<br> of breathing, of not being able to do anything but breathe, within and despite dangerous conditions. 
		<br> This series identifies indoor enclosures that, by their appearance and function, promise the clean 
		<br> state of controlled air, imagined or not. Within these spaces, the mechanisms of tidiness and 
		<br> control break down through materials in the air; in this case, sounds. 
		<br>
		<br>
		<br>
		<br>
		- for (var x = 1; x < 17; x++)
			.span7.kelsa
					audio(id='indoors_audio')
						source(src='/img/Kelsa_Trom/'+x+'.wav', type="audio/wav")
					img(src='/img/Kelsa_Trom/'+x+'.gif')

	script.
			$(document).ready(function(){
				$(".span6").each(function(index, el){ 
					var audioEl = $(el).find("audio");
					if (audioEl.length > 0){
						$(el).hover(function(){
							audioEl[0].play();
						},
						function(){
							audioEl[0].pause();
						});
					}
				});
			});

