extends layout

block content
		.span4				
		.article
			.span7
					h3 Polluted Provisions
					h4 Ben Kauffman & Sarah Rothberg
					h6 •
					br
					p <a href = http://genomicgastronomy.com/>The Center for Genomic Gastronomy</a>'s mission is threefold: "to map food controversies, prototype alternative culinary futures & imagine a more just, biodiverse & beautiful food system." Their research-based projects, which explore the intersection of food, culture, ecology, and technology are provocative, thoughtful, and always beautifully realized. 

					p   Of course, we had a <em>particular</em> attraction to their project <a href = http://genomicgastronomy.com/work/projects/smog-tasting/> <em>Smog Tasting</em></a>, which uses egg foams to harvest air pollution.

					p   While we don't possess the Center's culinary expertise, nor its scientific rigor, we do have a colorful imagination. Here's a list of polluted provisions of our own.

					br
					br
					a(href = 'http://en.wikipedia.org/wiki/Hydrocarbon')
						img(src='/img/recipies/pasta_hydrocarbonara.jpg')
					a(href = 'http://en.wikipedia.org/wiki/Environmental_xenobiotic#Sources_and_origins', target="_new")
						img(src='/img/recipies/xenobiotic_dogtreats.jpg')
					a(href = 'http://www.epa.gov/ozone/')
						img(src='/img/recipies/calOzone.png')
					a(href = 'http://www.belleville.k12.wi.us/bhs/health/environment/leadpollution.htm')
						img(src='/img/recipies/lead_bread.jpg')
					a(href = 'http://www.nonoise.org/')
						img(src='/img/recipies/noise_infused_vodka.jpg')
					a(href = 'http://www.niehs.nih.gov/health/topics/agents/pesticides/')
						img(src='/img/recipies/tomatoes.jpg')
					a(href = 'http://gizmodo.com/brave-people-are-building-futuristic-farms-on-japans-r-1495518828')
						img(src='/img/recipies/radioactive_salad.jpg')
					a(href = 'https://www.google.com/search?q=smog+pollution&espv=210&es_sm=91&source=lnms&tbm=isch&sa=X&ei=PCg_U9avCorKsQT2woLQBg&ved=0CAYQ_AUoAQ&biw=1197&bih=702')
						img(src='/img/recipies/smogras.jpg')
					a(href = 'http://www.nasa.gov/centers/langley/news/factsheets/Aerosols.html')
						img(src='/img/recipies/aerosoul_food.jpg')
					br
					br
					h6 •
					br
					br