extends layout

block content
		.span4				
		.article
			.span7
					h3 Top 12 Recipies
					h4 Ben Kauffman & Sarah Rothberg
					h6 •
					p SOMETHING ABOUT DISCOVEREING THE center for gastronomic research. 
					p While they actually did ours, we decided to come up with some of our own blah blah.
					a(href = 'http://en.wikipedia.org/wiki/Hydrocarbon')
						img(src='/img/recipies/pasta_hydrocarbonara.jpg')
					a(href = 'http://en.wikipedia.org/wiki/Environmental_xenobiotic#Sources_and_origins', target="_new")
						img(src='/img/recipies/xenobiotic_dogtreats.jpg')
					a(href = 'http://www.epa.gov/ozone/')
						img(src='/img/recipies/calOzone.png')
					a(href = 'http://www.belleville.k12.wi.us/bhs/health/environment/leadpollution.htm')
						img(src='/img/recipies/lead_bread.jpg')
					a(href = 'http://www.nonoise.org/')
						img(src='/img/recipies/noise_infused_vodka.jpg')
					a(href = 'http://www.niehs.nih.gov/health/topics/agents/pesticides/')
						img(src='/img/recipies/tomatoes.jpg')
					a(href = 'http://gizmodo.com/brave-people-are-building-futuristic-farms-on-japans-r-1495518828')
						img(src='/img/recipies/radioactive_salad.jpg')
					a(href = 'https://www.google.com/search?q=smog+pollution&espv=210&es_sm=91&source=lnms&tbm=isch&sa=X&ei=PCg_U9avCorKsQT2woLQBg&ved=0CAYQ_AUoAQ&biw=1197&bih=702')
						img(src='/img/recipies/smogras.jpg')
					a(href = 'http://www.nasa.gov/centers/langley/news/factsheets/Aerosols.html')
						img(src='/img/recipies/aerosoul_food.jpg')