extends layout

block content
	.row
		.span4
		.span7
			img(src='/img/seth_maxon/NYC_steam_explosion2.jpg')
			p(id='caption') By arvind grover (Flickr) [CC-BY-SA-2.0 (http://creativecommons.org/licenses/by-sa/2.0)], via Wikimedia Commons		
		.span2
	.row
		.span4
						
		.article
			.span7
				h3 The Smog Beneath
				h4 Seth Maxon
				h6 •
				br
				p In 1966, New York’s “killer smog” killed at least <a href="http://washingtonpost.findlaw.com/supreme_court/briefs/99-1257/99-1257fo5/text.html">168 people</a>. In 1989, a steam pipe exploded <a href="http://www.nytimes.com/1989/08/20/nyregion/2-dead-and-19-hurt-in-blast-of-a-submerged-steam-pipe.html">near Gramercy Park</a> and killed two people, including a Con Edison employee. On July 18, 2007, another steam pipe near Grand Central Station <a href="http://www.nytimes.com/2007/07/19/nyregion/19steam.html?_r=0">exploded during rush hour</a>, gave a 51-year old woman <a href="http://www.businessweek.com/ap/2012-07-20/nyc-woman-maimed-in-steam-blast-waits-for-justice">a fatal heart attack</a>, and left more than 30 injured, including <a href="http://www.nydailynews.com/news/plunged-volcano-41st-article-1.268904">a 23-year-old tow truck driver</a> who was left with severe burns over 80 percent of his body. That pipe was laid underground in 1924.

				p And recently, in East Harlem, <a href="http://www.wnyc.org/story/coned-hunting-possible-gas-leak-127-year-old-pipe/">127-year-old Con Edison pipe</a> leaked natural gas and likely caused the explosion that destroyed two buildings and killed<a href="http://www.nytimes.com/2014/03/19/nyregion/families-from-diverse-lands-mourn-victims-of-east-harlem-explosion.html">eight people</a>.

				p With a hazy public understanding of the state of New York City’s subterranean landscape, with incessant city-wide construction, with infrastructure that dates from a century ago or more, and with millions of dollars necessary just to repair accidents across the five boroughs each year, the question is not if another underground leak, fire or explosion will kill people again in New York. It’s when. 

				p Much of New York’s underground infrastructure was <a href="http://cooperator.com/articles/1997/1/A-Look-at-What-Lies-Beneath/Page1.html">built</a> in the 19th and early 20th centuries. The first gas lines were built nearly two centuries ago, in 1823. In the 1880s, steam became the primary method to heat New York. The New York Gas Light Company, the Edison Company, and the New York Steam Company all laid pipes, and soon after, their systems integrated, eventually <a href="http://www.coned.com/history/steam.asp">becoming Consolidated Edison</a>. Today, across New York City, Con Ed owns more than 100 miles of steam lines that are powered by seven steam plants in Manhattan, Brooklyn and Queens. Across such a large, dense system, and amid perpetual construction by Con Edison, Verizon, Time Warner and various contractors, the old pipes and cables weather consistent stress. When they break or malfunction, someone has to take the blame. Someone has to pay to repair the damage. 

				p Unfortunately, the legal smog hanging over disputed damages prevents an understanding of just how decrepit the city’s infrastructure might be; how many accidents deprive city residents of electricity, heat, phone, cable or internet service each year; or how many injuries pipe accidents cause each year. 

				p According to publicly available New York State Supreme Court <a href="http://iapps.courts.state.ny.us/iscroll/AdvSearch_D.jsp?Criteria=Consolidated+Edison&Submit4=Search">records</a>, since 2004, Verizon has sued Con Edison at least 14 times, alleging in 11 of those complaints that Con Edison deliberately allowed steam to leak from their pipes and thereby, damage Verizon facilities. In at least two of those 11 cases – one filed in May 2010 about an incident in Corona, Queens, at 88th Street and Corona Avenue, and another in June 2011, about an incident on the Upper East Side of Manhattan, at 82nd Street and 3rd Avenue – Verizon accused Con Edison of allowing fires to damage their cables and equipment. Together, in these 14 cases, Verizon has sued Con Ed for more than $1.7 million in damages. 
				
				br

				iframe(class='map', width='540', height='390', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=http:%2F%2Fmapsengine.google.com%2Fmap%2Fkml%3Fmid%3DzmMbrUOG9sfQ.kdUxmYF7m9VA&aq=&sll=40.835607,-73.942623&sspn=0.627565,1.229095&ie=UTF8&ll=40.835607,-73.942623&spn=0.4308,0.352592&t=m&output=embed')
				p(class='caption') 
				
				br

				p The language in the complaints is clear: 

				p From <a href="http://iapps.courts.state.ny.us/iscroll/C_PDF?CatID=451978&CID=603417-2008&FName=0">November 2008</a> 2008: "Defendants maintained the Con Ed Facilities so negligently as to amount to willfulness in causing the steam to intrude upon the Verizon Facilities."

				p From <a href="http://iapps.courts.state.ny.us/iscroll/C_PDF?CatID=550496&CID=117283-2009&FName=0">December 2009</a> 2009: “Defendants maintained the Con Ed Facilities so negligently as to amount to willfulness in causing the steam to intrude upon the Verizon Facilities."

				p From <a href="http://iapps.courts.state.ny.us/iscroll/C_PDF?CatID=685421&CID=106975-2011&FName=0">June 2011</a> 2011: “Defendants maintained the Con Ed Facilities so negligently as to amount to willfulness in causing the fire to intrude upon the Verizon Facilities.”

				p Speaking on condition of anonymity, a person with intimate knowledge of the legal complaints said that these 14 cases represent a tiny fraction of such disputes between Verizon, Con Edison and Time Warner Cable. Many similar disagreements over damaged infrastructure occur every year. The companies settle most of these cases out of court, but each year, about 20 cases end up before a judge.

				p These disputes usually begin with a customer service complaint. If Verizon receives the complaint, the company will send inspectors to write a report about the possible causes of the damage. If the report indicates that a different company’s activities or malfunctioning facilities have harmed Verizon’s equipment or property, and caused the resulting service outage, Verizon will repair the damage, then bill the other company or entity (such as the city government) that Verizon believes is responsible. 

				p So, for instance, if Verizon believes a Con Edison steam pipe leaked onto an adjacent Verizon copper cable, wet the cable and caused a service outage, Verizon might bill Con Edison for the repairs. In response, Con Ed will send its own inspectors to the site, and depending on their analysis, will either pay the Verizon bill or refuse to pay. When Con Ed refuses, Verizon will file a legal complaint.

				p Such complaints have also been filed by Con Ed against Verizon. The State Supreme Court’s online database contains <a href = "http://iapps.courts.state.ny.us/iscroll/C_PDF?CatID=209232&CID=111414-2005&FName=0">complaints</a> <a href= "http://iapps.courts.state.ny.us/iscroll/C_PDF?CatID=597416&CID=107644-2010&FName=0">alleging</a> that Verizon has <a="http://iapps.courts.state.ny.us/iscroll/C_PDF?CatID=580683&CID=104415-2010&FName=0">damaged</a> Con Ed's facilities <a href = "http://iapps.courts.state.ny.us/iscroll/C_PDF?CatID=209232&CID=111414-2005&FName=0">four times</a> since 20012

				p “I don’t have a number on it. I don’t think we quantify it that way. Our cables are out there. Many times they’re the subject of damage from any number of sources, whether it’s a construction project going on, or a traffic accident, or a water main break, or anything of that sort,” Bonomo said.

				p He would not confirm whether Verizon believed, as stated in its lawsuits, that Con Edison or anyone else deliberately neglected to maintain its facilities in order to deliberately damage Verizon’s equipment or property. 

				p “We would not comment on any lawsuits that are ongoing, whether brought against us or whether they are something we bring,” he said. “Whether it’s Con Ed or a construction company, or any other instance, if there’s damages to our facilities that we need to make capital expenditures to repair, and it’s not something that’s our doing, we’ll seek to be reimbursed by that company. We have a responsibility as well, number one, to repair our damaged service, but also to recoup our costs.”

				p In an email, Con Edison spokesman Allan Drury responded broadly to several questions about the lawsuits. 

				p “Con Edison operates the largest district steam system in the world and is committed to keeping it safe and reliable. We carefully review the facts and circumstances of all litigation involving alleged damage to Verizon facilities. The ultimate disposition of any lawsuit is a matter that is decided by the courts,” Drury wrote. 

				p The 14 publicly-available Verizon complaints against Con Edison range between approximately $31,000 and $500,000 each. If, as the anonymous source says, 20 annual disputes involve similar complaints, the underground pipes and cables under New York City sustain millions of dollars in damage year after year. 


				p Smog does more than pollute lungs and skylines. It obscures a clear view. Smog shrouds a city, and from a distance, can render it imperceptible. The utilities can help clear the air. Some stark transparency could help New York see what’s broken at its foundation, prevent future tragedy, and in time, stand on firmer ground. 


				p <em>Read more about aging infrastructure and the danger of old pipes in recent stories by <a href="http://www.theatlanticcities.com/technology/2014/03/how-dangerous-are-gas-pipes-under-your-city/8700/">The Atlantic Cities</a> and <a href="http://www.wnyc.org/story/leakiest-gas-pipes-nationwide/">WNYC</a>.

				br
				h6 •
		.span5




















