extends layout

block content
	br
	br
	br
	br
	br
	br

	.row
		.span5
					
		.span5
			.cloud
				a(href='http://google.com'): img(src='/img/comic_drop_001.png')
				br
				br
				br
			.copy
				h1 SMOG
				p SMOG is an issue. It's the first issue.
		.span2
				
	.row
		.span5
					
		.span5

		.span2

