extends layout

block content
	script.
		$(document).ready(function($){
			$('.cloud1 img,.cloud2 img').on('click', function() {
				console.log("clicked!")
				$(this).css('-webkit-filter', 'brightness(0%)')
			});

			$('a').on('click', function(e) {
				e.preventDefault();
				window.open($(this).attr('href'), '_blank');
			});
		});

	.row
		.span4
					
		.span7
			br
			br
			br
			br				
			br
			br
			br
			br
			br
			br				
			.cloud1(class='floating')

				a(href='/seth_maxon', target="_blank" title = "The Smog Beneath by Seth Maxon")
					img(id="image_1",src='/img/smogs_layers/cloud_'+ 1 +'.png')
				a(href='/adam_mann', target="_blank" title = "Cosmic Smog by Adam Mann")
					img(id="image_2",src='/img/smogs_layers/cloud_'+ 2 +'.png')						
				a(href='http://samjbrenner.com/projects/smog/', target="_blank" title = "Google Smog View by Sam Brenner")
					img(id="image_3",src='/img/smogs_layers/cloud_'+ 3 +'.png')
				a(href='/anita_pan', target="_blank" title = "A Few Days in Smog by Anita Pan")
					img(id="image_4",src='/img/smogs_layers/cloud_'+ 4 +'.png')
				a(href='/kelsa_trom', target="_blank" title = "Stay Indoors by Kelsa Trom")
					img(id="image_5",src='/img/smogs_layers/cloud_'+ 5 +'.png')
				a(href='/marina_zurkow', target="_blank" title = "Excerpt from 'Mesocosm: Times Square' by Marina Zurkow with Sarah Rothberg")
					img(id="image_6",src='/img/smogs_layers/cloud_'+ 6 +'.png')
				a(href='/recipies', target="_blank" title = "Top 9 Recipies by Ben Kauffman and Sarah Rothberg")
					img(id="image_7",src='/img/smogs_layers/cloud_'+ 7 +'.png')

			.cloud2(class='scaling')

				a(href='/sophia_lefraga', target="_blank" title = "Asophodel by Sophia Le Fraga")
					img(id="image_8",src='/img/smogs_layers/cloud_'+ 8 +'.png')
				a(href='/jay_z', target="_blank" title = "Swami Swam by Jay Zehngebot")
					img(id="image_9",src='/img/smogs_layers/cloud_'+ 9 +'.png')						
				a(href='/travis_korte', target="_blank" title = "Wikismog by Travis Korte")
					img(id="image_10",src='/img/smogs_layers/cloud_'+ 10 +'.png')
				a(href='http://yotammann.info/projects/Smog/', target="_blank" title = "by Yotam Mann")
					img(id="image_11",src='/img/smogs_layers/cloud_'+ 11 +'.png')
				a(href='http://neilcline.com/smog', target="_blank" title = "by Neil Cline")
					img(id="image_12",src='/img/smogs_layers/cloud_'+ 12 +'.png')
				a(href='/andy_scott', target="_blank" title = "Heritage of Splendor, Down the Gasoline Trail by Andrea Scott")
					img(id="image_13",src='/img/smogs_layers/cloud_'+ 13 +'.png')
				a(href='http://digismog.herokuapp.com/', target="_blank" title = "Digismog by Mack Howell")
					img(id="image_14",src='/img/smogs_layers/cloud_'+ 14 +'.png')						
			.copy

				br
				br
				br
				h1 S M O G
				br
				br
				br
				br
				p 
					em SMOG is an issue. It's the first issue. 
				p (each cloud is an particle that makes smog, click)
		.span2
				
	.row
		.span5
					
		.span5

		.span2


