extends layout

block content
	.row
		.span4
		.header
			.span7
				img(src='/img/Travis_Korte/Asheville_from_town_mountain.jpg')
				p(id='caption') Smog covers Asheville, North Carolina in 2002. The first picture posted on the oldest Wikipedia entry for Smog.
	.row
		.span4				
		.article
			.span7
				

					h3 Edit Smog on Wikipedia
					h4 Travis Korte
					h6 •			
					p The first version of the Wikipedia article on former President George W. Bush was published on August 9, 2002. Since then, the page has been revised over 45,000 times, as editors quarreled over descriptions of the War on Terror and Hurricane Katrina, and Wikipedia's own &ldquo;bot&rdquo; accounts conducted automated upkeep. The current, finely tuned version looks almost nothing like the original, which contains such sentences as &ldquo;The English press  (anywhere else too?) tends to nickname him 'Dubya', [sic] on account of his pronunciation of the middle initial of his name.&rdquo; 

					p But across those 45,000 edits, a handful of words and phrases have persisted. Specifically, they have persisted without alteration or added links in the paragraphs where they were originally placed. Excluding articles, conjunctions and other minor words, as well as repeats and words in the page's title, this is the complete list of those enduring pieces:
						br
						br
						em Walker. Born July 6. President of the United States of America. Texas. States. The United States.

					p It turns out that nearly all of Wikipedia's most edited articles have between one and ten of these residual words and phrases, which have managed to survive over the past decade through tens of thousands of edits. These particulates are their parent article's &ldquo;edit smog,&rdquo; which no amount of cleansing has managed to remove, and which will likely remain until an editor specifically seeks to remove them. George W. Bush's page is the most edited article on the English language Wikipedia, and below is the edit smog of the rest of the top 50. 
					p The page with the most edit smog, incidentally, is the article on Global Warming. 
					
					br

					p 
						b United States
						br
						em American. Of the war. Subjects. And television. Known americans. 

					p 
						b Wikipedia
						br
						em A Encyclopedia. Is supported by. Articles. Wales. Editor. The project. 

					p 
						b Michael Jackson
						br				
						em A Pop.

					p 
						b Jesus
						br
						em A Of God. Islam. American. Josephus. Christ. 

					p 
						b Catholic Church
						br
						em A Roman. Bishops. Local. Dioces. Parishes. Respectively. Liturgy. Pope John. Vatican.

					p 
						b Barack Obama
						br
						em A Democratic Party. United States. University. 

					p 
						b Hitler
						br
						em A Party. World War. 

					p 
						b Britney A Spears
						br
						em A 1999. Album. Success. Her career. Music. 

					p 
						b World War II
						br
						em A Germany, the Soviet Union. France. German. Cities. Civilian. Naval. 
					p 
						b Wii
						br
						em A Nintendo. Console. 

					p 
						b The Beatles 
						br
						em The band. Record albums.

					p 
						b India
						br
						em A Republic. Asia. The second most. World. 

					p 
						b The Undertaker
						br
						em A Professional wrestler. WCW. Win. WWF. World. Kane. 

					p 
						b United Kingdom
						br
						em A Greatitainem Aand Northern Ireland. Europe. History. London. Location. Economic. 

					p 
						b 2006 Lebanon War
						br
						em A [No edit smog]

					p 
						b Real Madrid C.F.
						br
						em Ahe team. Fooball clubs. Cup. Spanish. 

					p 
						b Playstation 3
						br
						em AS3. Blu-ray Disc. Sony. 

					p 
						b Runescape
						br
						em Aorld. Game. Gameplay. Quests. 

					p 
						b Global Warming
						br
						em Alimate. Amounts. Greenhouse Gases. Fossil Fuels. Carbon. Models. Observed. IPCC. Based. Emissions. Reductions. UNFCCC. 

					p 
						b Roger Federer
						br
						em Association of Tennis Professionals. Wimbledon Championships. Record. Men's. U.S.

					p 
						b Led Zeppelin
						br
						em Aand. Albums. 

					p 
						b Jehovah's Witnesses
						br
						em Aear. Time. Bible and Tract Society. 

					p 
						b European Union
						br
						em Aember states. Area. International. Council. 

					p 
						b FC Barcelona
						br
						em Alub. Football. First. Spanish. League. 

					p 
						b American Idol
						br
						em Aillboard magazine. Season.

					p 
						b Muhammad
						br
						em Aune 8 632. Islam. Founder. Arabia. 

					p 
						b Islam
						br
						em Aod. 

					p 
						b Kane (wrestler)
						br
						em Aacobs. Career. WWE. He was repackaged. Masked. Being. Match. 

					p 
						b Canada
						br
						em Aountry. French. 

					p 
						b Red Hot Chili Peppers
						br
						em Aand. Blood Sugar Sex Magik. Released. Freaky Styley (1985). This Is The Place.

					p 
						b Eminem
						br
						em Album. Featured. Slim Shady. 

					p 
						b New York City
						br
						em Aishem A George. 

					p 
						b September 11
						br
						em Alane. Terrorism. Osama Bin Laden. 

					p 
						b Christianity
						br
						em Aod. Catholic. Christians. Other. Church. History. Themselves. 

					p 
						b Elvis Presley
						br
						em Ausic. First. 

					p 
						b WWE
						br
						em Arofessional wrestling. Business. McMahon. WCW.

					p 
						b Doctor Who
						br
						em Aelevision Series. BBC. 

					p 
						b Mariah Carey
						br
						em Aamed. Whitney Houston. Album. Release. 

					p 
						b Ronald Reagan
						br
						em Aeorge Bush. Second. First. 

					p 
						b Anarchism
						br
						em Aociety. Socialism. Should be. Government. Against. 

					p 
						b John Cena
						br
						em Arestling. 

					p 
						b Paul McCartney
						br
						em Aesterday. Children. 

					p 
						b Hurricane Katrina
						br
						em A005. News. 

					p 
						b Xbox 360
						br
						em Aicrosoft. New. 

					p 
						b London
						br
						em Aities. Most. Greater. Population. 

					p 
						b Israel
						br
						em Areaty of Peace. Map. State. 

					p 
						b Newcastle United F.C.
						br
						em Aootball Club. FA Cup. Season. Time. City. Team. Manager. Magpies. New. 

					p 
						b Vijay (actor)
						br
						em Aade. Huge. Director. First time. Film. 

					p 
						b Chicago
						br
						em Aniversity.
						br
						br
						br
					i  Data for this article was collected on February 27, 2014
			.span5
